body {
    background-color: aliceblue;
}

#gridflex {
    display: flex;
    justify-content: center;
}

#gridcontainer {
    display: grid;
    max-width: 900px;
    max-height: 700px;
    min-width: 900px;
    min-height: 700px;
    border: solid rgb(255, 0, 0) 50px;
    background-color: lightgrey;
}

.pensize, .pencolor {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: gold;
    display: flex;
    justify-content: center;
}

button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    font-family:sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
background-color:#4095c6;
}

.active {
    background-color: #29678b;
}

.shake {
    animation: shake .8s ease-in;
}

@keyframes shake {
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.8em);
    }
    10%,
    30%,
    50%{
        transform: translate(-.2em);
    }
    70%,
    100%{
        transform: translate(0);
    }
}
